name: Frontend tests
on: push

defaults:
  run:
    working-directory: frontend

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: setup node
        run: corepack enable
      - name: prepare
        run: yarn install
      - name: test
        run: yarn test
