name: Localstack extension

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: setup node
        run: corepack enable
      - name: prepare
        run: yarn install
      - name: build
        run: yarn build
      - name: Upload frontend artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/
          retention-days: 1
  server:
    runs-on: ubuntu-latest
    container: golang
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
            goamd64: v1
            target_dir: linux-amd64
          - goos: linux
            goarch: arm64
            goarm64: v8.0
            target_dir: linux-arm64
          - goos: darwin
            goarch: amd64
            goamd64: v1
            target_dir: darwin-amd64
          - goos: darwin
            goarch: arm64
            goarm64: v8.0
            target_dir: darwin-arm64
    steps:
      - uses: actions/checkout@v6

      - name: Setup output directory
        run: mkdir -p localstack/sqs_admin/bin/${{ matrix.target_dir }}

      - name: Build binary
        working-directory: server
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 0
        run: |
          # Add architecture-specific environment variables conditionally
          if [ "${{ matrix.goamd64 }}" != "" ]; then export GOAMD64=${{ matrix.goamd64 }}; fi
          if [ "${{ matrix.goarm64 }}" != "" ]; then export GOARM64=${{ matrix.goarm64 }}; fi
          
          go build -buildvcs=false -o ../localstack/sqs_admin/bin/${{ matrix.target_dir }}/sqs-admin .
      - name: Upload binaries as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target_dir }}
          path: localstack/sqs_admin/bin/${{ matrix.target_dir }}/
          retention-days: 1

  package:
    runs-on: ubuntu-latest
    needs: [frontend, server]
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Download all binaries
        uses: actions/download-artifact@v4
        with:
          path: artifacts/

      - name: Organize artifacts
        run: |
          mkdir -p localstack/sqs_admin/bin/
          cp -r artifacts/* localstack/sqs_admin/bin/
          
          # Permission loss fix 
          chmod +x localstack/sqs_admin/bin/*/*-admin

      - name: Build Python package
        working-directory: localstack
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          make install
          make publish

# Debugging
#      - name: Upload package artifact
#        uses: actions/upload-artifact@v4
#        with:
#          name: extension
#          path: localstack/dist
#          retention-days: 5